

body{
    background-image: url(https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}

.navchange{
    border-color: salmon;
    border-style: solid;
    padding: 0;
}

#navname{
    border-color: lightslategray;
    border-left-style: solid;
    border-right-style: solid;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 150px;
    background-color: teal;
    padding: 15px
}
.navaaa{
    margin-right: 100px;
}
.linkport{
    border-color: gainsboro;
    border-left: solid;
    border-right: solid;

}
.container{
    border-style: solid;
    border-color: gainsboro;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    line-height: 1.6;
    width: 700px;
    margin-top:40px;
    background-color: whitesmoke;
}
.AM{
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    color: teal;
    border-bottom-style: solid;
    border-color: gainsboro;
}
.ABTME{
    padding-left: 0;
    padding-right: 0;
    margin: 20px;
    font-size: 15px;
}
.copyright{
    font-size: 10px;
    color: lightslategray;
    text-align: center;
    border-top-style: solid;
    border-color: teal;
    background-color: whitesmoke;
    height: 40px;
}